* {
    text-align: center;
    background-color: rgb(156, 252, 137);
}
li {
    font-family: 'playfair display', 'open sans light', sans-serif;
    font-weight: 500;
}
p {
    text-decoration: underline;
}